.designer_section {
    background: linear-gradient(0deg, rgba(247, 151, 30, 0.1072) 15.1%, rgba(247, 152, 30, 0.107669) 15.11%, rgba(255, 210, 0, 0.16) 73.77%);
    padding: 68px;
    border-radius: 30px;
}
.sliderPage2 {
    width: 95%;
    height: 400px;
    border-radius: 15px;
    /* background: linear-gradient(#2d0204, #54331e); */
    background: url(../images/lucy.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
}
.sliderPage3 {
    width: 95%;
    height: 400px;
    border-radius: 15px;
    /* background: linear-gradient(#2d0204, #54331e); */
    background: url(../images/1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
}